p {
    color: rgb(46, 6, 65);
  }
  h1 {
    font-size: 60px;
    text-align: center;
  }
  
  p,
  li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
  }
  html {
    background-color: #784ddc;
  }
  
  img {
    display: block;
    margin: 0 auto;
  }
  h1 {
    margin: 0;
    padding: 10px 0;
    color: #e8b172;
    text-shadow: 3px 3px 1px rgb(219, 112, 112);
  }
  body {
    width: 600px;
    margin: 0 auto;
    background-color: #8978e8;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
  }
  
  